* {
    margin: 0px;
    padding: 0px;
}

hr {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.icon {
    padding-left: 2px;
    padding-right: 5px;
}

body {
    background-color: #f2f2f2;
    font-size: 15px;
}

.navbar {
    color: #fff !important;
}

.navbar a {
    color: #fff !important;
}

.top-nav {
    background-color: #e6e6e6;
    margin: 0px;
}

.login-icon,
.massage-icon,
.cart-icon,
.order-icon {
    font-size: 2rem;
}
.manu-link-item{
    border: 1px solid white;
    background-color: #388a4d;
}


/* Product slider */

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.viewed_nav_container {
    position: absolute;
    right: -5px;
    bottom: 14px
}

.viewed_nav {
    display: inline-block;
    cursor: pointer
}

.viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.viewed_nav:hover i {
    color: #606264
}

.viewed_prev {
    margin-right: 15px
}

.viewed_slider_container {
    padding-top: 13px;
}
.owl-item{
    margin-right: 15px !important;
    width: 200px !important;
}

/* start about us page */


/* end about us page */
.login-body{
    margin: 10rem 18rem;
}
.titleText i{
    font-size: 3rem;
}
.login-page-logo{
    margin: 11rem 0rem;
}
.user-login-body{
    margin: 5rem 18rem;
}
/* start shop Page Style */
.product-image{
    background-size: cover !important;
    width: auto;
}
.grid-icon{
    font-size: 25px;
    padding: 5px;
    color:#333;
}
.sort{
    padding: 5px;
    margin: 2px;
}
.category-name{
    font-size: 12px;
    margin: 0px;
}
.fa-star{
    color: #CFD8DC;
    cursor: pointer;
}
.star-active{
    color: #FFCA28 !important;
}
.product-grid{

}
.product-list{

}
.hide-list{
    display: none;
}
.hide-grid{
    display: none;
}

/* end shop page style */

/* Start Brand Slider */
.brand{
    padding: 20px;
    text-align: center !important;
}
.brand__item {
    position: relative;
}
.owl-item{
    align-items: center !important;
}
.brand__item img{
    width: 150px !important;
    }

.brand__slider .col-lg-3 {
    max-width: 100%;
}

.brand__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    height: 70px;
    width: 30px;
    position: absolute;
    left: -35px;
    top: 50%;
    -webkit-transform: translateY(-35px);
}

.brand__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -35px;
}

/* End Brand Slider */


/* newslatter */
.newsletter {
    padding: 50px 0;
    background: #333;
}


.newsletter .content {

max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2;

 }

 .content-tuned{
 	    font-size: 0.8rem;
    margin-bottom: 34px !important;
    color: #fff;
 }

.form-control:focus {
box-shadow: none !important;
border: 2px solid #243c4f;
border-color: none;

}

.unsubscribe-link{
	text-decoration: none !important;
	
	font-size: 13px;
	color: #fff; 
}

.unsubscribe-link:hover{
	text-decoration: none !important;
	color: #fff;
}
.bg-dark, .btn-dark{
    background-color: #243c4f !important;
}
.btn-success:hover{
    background-color: #243c4f;
    color: white;
}
.manu-item:hover{
    background-color: #243c4f !important;
    color: #fff !important;
    transition: 0.5s !important;
}
.hover:hover{
    background-color: #fff !important;
    color: #fff !important;
    transition: 0.5s !important;
}
.hover{
    background: linear-gradient(90deg, rgba(36,60,79,1) 25%, rgba(25,135,84,1) 100%, rgba(16,55,62,1) 100%); 
}


/* start index1 */
.feature-product, .blogs, .latest-products{
    background-color: antiquewhite;
    padding: 3rem 0rem;
}
.Best-selling-product{
    padding: 3rem 0rem;
}
.bg-offer{
    background-color: #fff;
}














/* end index1 */

/* Start Footer */
.footer-link {
    padding: 10px;
}

.footer {
    background-color: #243c4f;
    color: #fff;
    padding: 10px;
}

.footer p {
    text-align: justify;
}

.footer-social-icon {
    font-size: 30px;
}

/* End Footer */














@media only screen and (max-width: 600px) {
    .c-item{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .card-bottom{
        margin-bottom: 0.5rem;
    }
}